html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0097a7;
}

/**************/
/* Header CSS */
/**************/

#header-brand, #body-header {
  cursor: default;
  font-family: "Cookie", cursive;
  font-weight: normal;

  font-weight: 300;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header-brand {
  color: #ffffff;
  font-size: 45px;
  margin-top: 5px;
}

#body-header {
  text-align: center;

  font-size: 80px;
  color: #ffffff;
  margin: 80px 0 0 0;
  padding: 0;
}

/*************/
/* Views CSS */
/*************/

#header {
  text-align: center;
  font-family: "Lato", sans-serif;

  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container .jumbotron {
  background-color: #00bcd4;
  margin: 37px auto;
}