<div id="add-expense" class="container">
  <div class="jumbotron">
    <form ng-submit="submit()">
      <table id="expenses" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="expense in expenses">
            <td>
              <input type="text" class="form-control" required ng-model="expense.name">
            </td>
            <td>
              <input type="text" class="form-control" required ng-model="expense.amount">
            </td>
            <td>
              <input type="date" class="form-control" required ng-model="expense.date">
            </td>
            <td>
              <i class="remove-expense fa fa-times" ng-click="remove(expense.index)"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <input class="expense-button btn btn-primary btn-md" value="Add" ng-click="add()">
        <button class="expense-button btn btn-primary btn-md">Submit</button>
      </div>
    </form>
  </div>
</div>