<div id="add-expense" class="container">
  <div class="jumbotron">
    <h1 id="header">Add an Expense</h1>
    {{expenses}}
    <form ng-submit="submitExpense()">
      <table id="expenses" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="expense in expenses">
            <td>
              <input type="text" class="form-control" placeholder="Name" ng-model="expense.name">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Amount" ng-model="expense.amount">
            </td>
            <td>
              <input type="date" class="form-control" ng-model="expense.date">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>