<!-- Source: http://goo.gl/GxKNXk -->

<div class="form">
  <ul class="tab-group">
    <li class="tab active"><a href="#login">Log In</a></li>
    <li class="tab"><a href="#signup">Sign Up</a></li>
  </ul>

  <div class="tab-content">
    <h1>Welcome Back!</h1>

    <div class="entry-error" ng-class="{active: loggedIn == false}">
      {{err}}
    </div>

    <form ng-submit="login()">
      <div class="field-wrap">
        <label>Email</label>
        <input type="email" autocomplete="off" required ng-model="form.email">
      </div>

      <div class="field-wrap">
        <label>Password</label>
        <input type="password" autocomplete="off" required ng-model="form.password">
      </div>

      <!-- <p class="forgot"><a href="#forgot">Forgot Password?</a></p> -->
      <button class="button button-block">
        <span class="fa fa-sign-in"></span> Log In
      </button>
    </form>
  </div>
</div>