<!-- Source: http://goo.gl/GxKNXk -->

<div class="form">
  <ul class="tab-group">
    <li class="tab"><a href="login">Log In</a></li>
    <li class="tab active"><a href="signup">Sign Up</a></li>
  </ul>

  <div class="tab-content">
    <h1>Sign Up For Free!</h1>

    <div class="entry-error" ng-class="{active: signedUp === false}">
      {{err}}
    </div>

    <form ng-submit="signup()">
      <div class="top-row">
        <div class="field-wrap">
          <label>First Name<span class="req">*</span></label>
          <input type="text" autocomplete="off" required ng-model="form.fname">
        </div>

        <div class="field-wrap">
          <label>Last Name<span class="req">*</span></label>
          <input type="text" autocomplete="off" required ng-model="form.lname">
        </div>
      </div>

      <div class="field-wrap">
        <label>Email<span class="req">*</span></label>
        <input type="email" autocomplete="off" required ng-model="form.email">
      </div>

      <div class="field-wrap">
        <label>Password<span class="req">*</span></label>
        <input type="password" autocomplete="off" required ng-model="form.password">
      </div>

      <button class="button button-block">
        <span class="fa fa-user-plus"></span> Get Started
      </button>
    </form>
  </div>
</div>