<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Expense Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- User-Defined CSS -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/search-expense.css">
    <link rel="stylesheet" href="/public/css/add-expense.css">

    <!-- JavaScript -->
    <script src="/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/lib/angular/angular.min.js"></script>
    <script src="/public/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/public/lib/angular-touch/angular-touch.min.js"></script>
    <script src="/public/lib/lodash/dist/lodash.min.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/controllers.js"></script>
    <script src="/public/js/services.js"></script>
  </head>

  <body ng-app="expense-tracker">
    <h1 id="body-header">Track Your Expenses!</h1>

    <div id="search-expense">
      <h1 class="header">Search For Past Expenses</h1>


    </div>

    <div id="add-expense">
      <h1 class="header">Add An Expense</h1>


    </div>
  </body>

</html>